<div class="d-flex justify-content-center align-items-center flex-column min-vh-100">
    <div class="d-flex justify-content-center align-items-center icon-style bg-sec mb-3">
        <i class="fa-solid fa-triangle-exclamation icon"></i>
    </div>
    <h2 class="Erorr">404</h2>
    <h4 class="mb-4">Not Found</h4>
    <h5 class="text-center">The page you're looking for doesn't exist or has been moved to another location.</h5>
    <div class="my-4 d-flex justify-content-evenly align-items-center flex-wrap w-50 btns">
        <button class="btn btn-secondary" routerLink="/Home"><i class="fa-solid fa-house me-1"></i> Go Home</button>
        <button class="btn btn-outline-secondary" (click)="GoBack()"><i class="fa-solid fa-arrow-left me-1"></i> Go Back</button>
    </div>
</div>