<nav #Navigator class="navbar navbar-expand-lg bg-light py-4 position-fixed top-0 end-0 start-0 shadow shadow-lg z-3">
  <div class="container">
    <a class="navbar-brand" routerLink="Home"><i class="fa-solid fa-code me-2"></i><i class="fa-solid fa-database me-2"></i><span class="delius-unicase-bold">Karim Fathy</span></a>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto w-50 justify-content-between">
        <li class="nav-item">
          <a class="nav-link" routerLink="Projects" routerLinkActive="bg-Main rounded-3 text-light Nav-Prop-Movement" >Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="TechSkills" routerLinkActive="bg-Main rounded-3 text-light Nav-Prop-Movement">Technical Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Experience" routerLinkActive="bg-Main rounded-3 text-light Nav-Prop-Movement">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Education" routerLinkActive="bg-Main rounded-3 text-light Nav-Prop-Movement">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Contact" routerLinkActive="bg-Main rounded-3 text-light Nav-Prop-Movement">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>