<div class="row vh-100 align-items-center justify-content-between intro">
    <div class="col-lg-6 intro-groub">
        <h1 class="mb-2">Karim Ahmed Fathy</h1>
        <h4 class="text-secondary"><span class="typed-element"></span></h4>
        <h5 class="text-secondary my-3">Angular - ASP.NET</h5>
        <p class="mb-5">Specializing in building scalable APIs and robust applications.  <span class="d-block">Passionate about creating efficient, user-friendly solutions that bridge the gap between frontend elegance and backend reliability.</span></p>
        <div class="d-flex justify-content-between w-50 btn-grb">
            <a class="btn btn-secondary" download href="./assets/Files/Karim Fathy (Full stack developer).pdf">Download CV <i class="fa-solid fa-download ms-2"></i></a>
            <button class="btn btn-outline-secondary" routerLink="/Projects">Show Projects <i class="fa-solid fa-location-arrow ms-2"></i></button>
        </div>
    </div>
    <div class="col-lg-6 justify-content-center d-flex">
        <div class="w-50 rounded-circle photo-container">
            <img src="../assets/Photos/My Photo.jpg" alt="Developer Photo" class="photo-Adjustment object-fit-cover">
        </div>
    </div>
</div>