<div class="w-100 bg-sec m-0">
    <div class="container py-4">
    <div class="row my-3 g-3">
    <div class="col-lg-4">
        <div>
            <h6 class="mb-4"><i class="fa-solid fa-code me-2"></i><span class="delius-unicase-bold">Karim Ahmed Fathy</span></h6>
            <p class="text-secondary">Full Stack Developer specializing in Angular and ASP.NET Core development.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <h6 class="mb-4">Quick Links</h6>
            <ul class="list-unstyled">
                <li class="cursor-pointer mb-2 text-secondary hover-Effect w-25" routerLink="Home">Home</li>
                <li class="cursor-pointer mb-2 text-secondary hover-Effect w-25" routerLink="Projects">Projects</li>
                <li class="cursor-pointer mb-2 text-secondary hover-Effect w-25" routerLink="TechSkills">Skills</li>
                <li class="cursor-pointer mb-2 text-secondary hover-Effect w-25" routerLink="Experience">Experience</li>
                <li class="cursor-pointer mb-2 text-secondary hover-Effect w-25" routerLink="Education">Education</li>
                <li class="cursor-pointer mb-2 text-secondary hover-Effect w-25" routerLink="Contact">Contact</li>
            </ul>
        </div>
    </div>
        <div class="col-lg-4">
        <div>
            <h6 class="mb-4">Connect</h6>
            <ul class="list-unstyled d-flex justify-content-start">
                <li class="cursor-pointer me-4"><a target="_blank" class="link-secondary hover-Effect" href="https://web.facebook.com/Karim.Ahmed.Fathy2001?locale=ar_AR"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="cursor-pointer me-4"><a target="_blank" class="link-secondary hover-Effect" href="https://www.linkedin.com/in/karim-fathy-13a37321b/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="cursor-pointer me-4"><a target="_blank" class="link-secondary hover-Effect" href="mailto:ka2001rimahmed@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
                <li class="cursor-pointer me-4"><a target="_blank" class="link-secondary hover-Effect" href="tel:+201122339429"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
        </div>
    </div>
</div>
    </div>
    <div class="text-center text-secondary py-3">
        <p>&copy;2025 Karim Ahmed Fathy. All Rights Reserved.</p>
    </div>
</div>